/* header.css */
.header-container {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

.header-content {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #007BFF;
}

p {
    font-size: 1.2em;
    color: #555;
}
